@import "tailwindcss";
@plugin "daisyui";
/* Fuente personalizada MusticaPro */
@font-face {
  font-family: 'MusticaPro';
  src: url('./assets/fonts/MusticaPro-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
